!!!
%html
    %head
        %title AcortadorURLs
        %meta{:charset => "utf-8"}/
        %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet"}/
        %link{:href => "/css/style.css", :rel => "stylesheet"}/
        %script{:src => "//www.google.com/jsapi"}
        %script{:src => "/js/chartkick.js"}
    %body
        #contenedor
            #cabecera
                %img.logo{:src => "/images/logo.png"}
            #login
                %br
                -if !session[:auth]
                    %a.btn.btn-success{:href => "/auth/google_oauth2"}Iniciar Sesión con Google
                -else
                    Hola, #{session[:email]}
                    %a.btn.btn-danger{:href => "/auth/cerrarSesionGoogle"}Cerrar Sesión
                %a.btn.btn-default{:href => "/estadisticas/ver"}Ver estadísticas
            #formulario
                %form.form-inline(action="/" method="POST")
                    .form-group
                        %label(for="url")
                        %br
                        %br
                        Convierte tu URL difícil de recordar en una más corta.
                        %br
                        %br
                        %input.form-control(type="text" name="url" id="myurl" autofocus size=60 accesskey="s" placeholder="URL")
                        %input.form-control(type="text" name="url_corta" id="myurl_corta" size=25 accesskey="c" placeholder="URL corta")
                        %input.btn.btn-default(type="submit" value="Acortar")
            #datos
                %h2 URLs Guardadas:
                =yield
            #pie
                Jonay Suárez Armas
                %br
                Sistemas y Tecnologías Web | Grado en Ingeniería Informática | ETSII | ULL


        %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
        %script{:src => "/js/bootstrap.min.js"}
