body{
	background-color: #4C7ECA;
}

#cabecera{
	height: 150px;
	background-color: #4C7ECA;
	text-align: center;
}

#formulario{
	height: 200px;
/* 	background-color: yellow; */
	background-color: #4C7ECA;
	text-align: center;
}

#datos{
	text-align: center;
	background-color: #C7C7C7;
	border: 2px solid #979797;
}

#pie{
	height: 50px;
	background-color: #4C7ECA;
	text-align: center;
}

.logo{
	height: 150px;
}